# Environment files
.env
.env.*
*.env
!.env.example

# Data files
*.json
data/
*.db
backup/
!package.json
!package-lock.json
!tsconfig.json

# Build and dependencies
node_modules/
dist/
release/

# Other
logs/
*.zip
*.js
*.log
*.mp3
*.tsbuildinfo
.vscode/settings
.DS_Store
.idea/  
